<div class="row">
    <div id="footer" class="header-wrap col-xs-12 primary-bg">
        <div class="col-xs-12">
            <h1>Get in touch</h1>
            <h2>Meerminder</h2>
            <p>
                Geoffrey Van Meirhaeghe
                <br><a href="tel:0493614375">+32 (0)493 61 43 75</a>
                <br><a href="mailto:info@meerminder.be">info@meerminder.be</a>
                <br><span class="nowrap">KBO XXXX.XXX.XXX</span> | <span class="nowrap">IBAN BEXX XXXX XXXX XXXX</span>
            </p>
            <span class="social-icons">
                <a href="#" class="fa fa-facebook fa-2x"></a>
                <a href="#" class="fa fa-instagram fa-2x"></a>
                <a href="#" class="fa fa-linkedin fa-2x"></a>
            </span>
        </div>
    </div>
</div>