<div class="row">
    <div id="company-bar-title" class="col-xs-12">
        <h3 class="dark"><b>Enkele klanten waar ik reeds voor werkte:</b></h3>
    </div>
</div>
<div class="row">
    <div id="company-bar" class="col-xs-12">
        <ul class="client-list">
            <li class="client-logo"><img src="{{site.baseurl}}/assets/images/components/logo-mcdonalds.png" alt=""></li>
            <li class="client-logo"><img src="{{site.baseurl}}/assets/images/components/logo-cgg.png" alt=""></li>
            <li class="client-logo"><img src="{{site.baseurl}}/assets/images/components/logo-bel.png" alt=""></li>
            <li class="client-logo"><img src="{{site.baseurl}}/assets/images/components/logo-martdeco.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="footer" class="header-wrap col-xs-12 primary-bg">
        <div class="col-xs-12">
            <h1>Get in touch</h1>
            <h3>Meerminder</h3>
            <p>
                Geoffrey Van Meirhaeghe
                <br><a href="tel:0493614375">+32 (0)493 61 43 75</a>
                <br><a href="mailto:info@meerminder.be">info@meerminder.be</a>
                <br><span class="nowrap">KBO XXXX.XXX.XXX</span> | <span class="nowrap">IBAN BEXX XXXX XXXX XXXX</span>
            </p>
            <span class="social-icons">
                <a href="#" class="fa fa-facebook fa-2x"></a>
                <a href="#" class="fa fa-instagram fa-2x"></a>
                <a href="#" class="fa fa-linkedin fa-2x"></a>
            </span>
        </div>
    </div>
</div>