<div class="header-wrap">
    <div class="row">
        <div class="col-xs-12">
            {% include navbar-animated.html %}
        </div>
    </div>
    <div class="fade-in-vis col-xs-12 col-md-6 header-text">
        <h1 class="primary">Geef <b>karakter</b><br>aan uw <b>merk.</b></h1>
        <p>
            <b>Graphic Design</b> en <b>Webdesign</b> zoals het hoort.
            Steeds recht door zee, maar altijd met een eigen <b>persoonlijkheid.</b></p>
        <div class="header-buttons col-12">
            <a href="{{site.baseurl}}/about.html" class="button-border">Over Mij</a>
            <a href="{{site.baseurl}}/work.html" class="button-border">Portfolio</a>
        </div>
        <div class="scroll-button">
            <a href="#overview" class="text-button">Meer informatie<br><span class="wow heartBeat delay-5s slower glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
    <div class="slide-in-left col-xs-12 col-md-6 header-image">
    </div>
</div>