<div class="header-wrap">
    <div class="row">
        <div class="col-xs-12">
            {% include navbar.html %}
        </div>
    </div>
    <div class="col-xs-12 col-md-6 header-text">
        <h1 class="primary">Geef <b>karakter</b><br>aan uw <b>merk.</b></h1>
        <p>
            Bij Meerminder geloven we in visuele communicatie
            zoals ze hoort te zijn: <b>recht door zee,</b> maar wél met
            een eigen <b>persoonlijkheid.</b></p>
        <div class="header-buttons col-12">
            <a href="{{site.baseurl}}/about.html" class="button-fill">Over Mij</a>
            <a href="{{site.baseurl}}/work.html" class="button-border">Portfolio</a>
        </div>
        <div class="scroll-button">
            <a href="#overview" class="text-button">Meer informatie<br><span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 header-image">
    </div>
</div>