<!-- mobile nav -->
<nav class="navbar-m nav">
    <div class="wrap-collapsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle"><img src="{{site.baseurl}}/assets/images/components/logo-white.png" class="nav-m-logo"></label>
        
        <div class="collapsible-content">
            <ul>
                <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                {% for item in site.data.navbar.docs %}
                <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
                <li><a href="#footer">Get in touch</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- fullscreen nav -->
<nav class="navbar nav">
    <ul>
        <li class="pull-left" id="home-button">
            <a href="{{site.baseurl}}/index.html"><img class="nav-logo" src="{{site.baseurl}}/assets/images/components/logo-pos.png"></a>
        </li>
        {% for item in site.data.navbar.docs %}
        <li class="nav-text"><a class="primary" href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
        <li class="nav-text">
            <a class="primary" href="#footer">Get in touch</a></li>
    </ul>
</nav>