// Baseurl
$baseurl: "{{ site.baseurl }}";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

// Standard Settings

// Color Variables
$primary-color: #294899;
$secondary-color: #BFE2F8;
$dark-color: rgba(12, 32, 83, 0.97);
$grey: #DDD;
$white: #FFF;

.primary-bg{
    background-color: $primary-color;
}
.secondary-bg{
    background-color: $secondary-color;
}
.grey-bg{
    background-color: $grey;
}
.white-bg{
    background-color: $white;
}
.primary{
    color: $primary-color;
}
.secondary{
    color: $secondary-color;
}
.grey{
    color: $grey;
}
.white{
    color: $white;
}

// Font Variables
$main-font: 'Open Sans', sans-serif;

// Font Styles
body {
    font-family: $main-font;
    font-size: 18px;
    color: $primary-color;
}
h1{
    font-size: 5vmax;
    line-height: 120%;
    margin: 0px;
}
h2{
    margin: 0px;
    font-size: 3vmax;
    line-height: 120%;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 11px;
    color: $grey;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: +1px;
}
p{
    font-size: 15px;
    line-height: 200%;
    letter-spacing: +1px;
    word-spacing: -1px;
}
.section-title{
    text-align: center;
}
.bg-title{
    position: absolute;
    font-size: 8vmax;
    padding-left: 3vmax;
    padding-top: 3vmax;
    margin: 0px;
    z-index: -2;
}
.nowrap{
    white-space: nowrap;
}
.no-uppercase{
    text-transform: none;
}

// SCROLLBAR
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: $secondary-color;
}
::-webkit-scrollbar-thumb{
    background-color: $primary-color;
}
::-webkit-scrollbar-thumb:hover{
    width: 10px;
}

// BUTTONS
.button-fill{
    font-size: 1.5vmax;
    font-weight: 800;
    background-color: $primary-color;
    color: $white;
    margin-right: 20px;
    padding: 19px 44px 19px 44px;
}
.button-fill:hover{
    color: $primary-color;
    background-color: rgba(255, 255, 255, 0);
    border: 4px solid $primary-color;
    text-decoration: none;
}
.button-border{
    font-size: 1.5vmax;
    font-weight: 800;
    border: 4px solid $primary-color;
    color: $primary-color;
    margin-right: 20px;
    padding: 15px 40px 15px 40px;
}
.button-border:hover{
    color: $white;
    background-color: $primary-color;
    border: 0px solid $primary-color;
    text-decoration: none;
    padding: 23px 48px 23px 48px;
}
.text-button{
    font-weight: 800;
    color: $primary-color;
}
.text-button:hover{
    text-decoration: none;
    font-size: 20px;
}
.scroll-button{
    margin-top: 10vh;
    text-align: center;
    width: 27vmax;
    .text-button{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        .glyphicon{
            animation-iteration-count: 3;
        }
    }
    a:hover{
        text-decoration: none;
        color: $primary-color;
    }
}

// SOCIAL BUTTONS
.fa{
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}
.fa:hover{
    text-decoration: none;
    color: $secondary-color;
}

// ANIMATIONS

// INTRO

#intro-container{
    width: 100vw;
    margin-right: -15px;
}
.intro-animation{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: $primary-color;
    height: 100vh;
    width: 100vw;
    opacity: 100;
    img{
        margin: 0 auto;
    }
    h2{
        text-align: center;
        margin: 0 auto;
        line-height: 150%;
        .span-disp{
            position: relative;
            display: inline-block;
            animation-duration: 1s;
        }
        #span-disp-top{
            margin-top: 8vh;
        }
    }
}

@keyframes fade-out{
    from{opacity: 100}
    to{opacity: 0}
}
.fade-out{
    animation: fade-out;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

// TRANSITIONS
@keyframes fade-in{
    from {
        opacity: 0;
        transform: scale(.8,.8);
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
.fade-in{
    animation: fade-in;
    animation-duration: 3s;
}
.fade-in-vis{
    animation: 0s linear 3s forwards fade-in;
    animation-duration: 3s;
}
@keyframes slide-in-left{
    from{
        right: -100%;
    }
    to{
        right: 0%;
    }
}
.slide-in-left{
    animation-name: slide-in-left;
    animation-duration: 2s;
}
.overlay{
    position: absolute;
    background-color: $primary-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s ease;
    h4{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 40%;
        bottom: 50%;
        text-transform: none;
        font-size: 17px;
        line-height: 150%;
    }
}

//STYLING STARTS HERE

//STANDARDS
.container-fluid{
    padding: 0px;
    overflow-x: hidden;
}
.vl-white{
    margin-left: 50%;
    border-left: 1px solid $white;
    min-height: 20px;
}
.br-br{
    border-bottom-right-radius: 30px;
}

// NAVBAR
.navbar-m{
    display: none;
}
.navbar{
    width: 100%;
    display: inline-block;
    position: fixed;
    padding-right: 20px;
    background-color: $white;
    border-radius: 0px;
    box-shadow: 0px 4px 5px rgba(23, 28, 47, 0.3);
    z-index: +99;
    ul{
        width: 100%;
        text-align: right;
        li{
            display: inline-block;
            padding: 20px 10px 15px 10px;
            line-height: 250%;
            font-size: 16px;
            a:hover{
                color: $primary-color;
                text-decoration: none;
                font-weight: 800;
            }
        }
    }
}
.nav-logo{
    height: 40px;
    transition: transform 2s;
}
.nav-logo:hover{
    transform: scale(1.15);
    transition-timing-function: ease-in;
    transition-duration: 1s;
}
.nav-adjust{
    padding-top: 150px;
}

// HEADER
.header-wrap{
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 0px;
}
.header-content{
    height: inherit;
}
.header-text{
    visibility: hidden;
    padding-left: 50px;
    h1{
        margin-top: 22vh;
    }
    p{
        margin-top: 8vh;
        padding-right: 10vw;
        font-size: 19px;
        letter-spacing: inherit;
        word-spacing: inherit;
    }
    .header-buttons{
        margin-top: 12vh;
    }
}
.header-image{
    margin-top: -1px !important;
    height: 100%;
    background-image: url("images/header/home-right.png");
    background-size: cover;
    animation-delay: 3s;
    z-index: -1;
}
#header-about{
    position: relative;
    background-image: url("images/header/self-portrait.jpg");
    background-size: cover;
    background-position: center 10vh;
    min-height: 100vh;
    #text{
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
    }
    .slide-content{
        position: absolute;
        height: 100vh;
        right: -400px;
        transition: 1s;
        z-index: 98;
        input[type='checkbox'] {
            display: none;
        }
        input{
            display: inline-block;
            vertical-align: middle;
        }
        label{
            margin-top: 50vh;
            padding: 10px 30px 10px 20px;
            background-color: $primary-color;
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
            color: $white;
            display: inline-block;
            vertical-align: middle;
        }
        .glyphicon{
            font-size: 15px;
            margin-right: 10px;
            transition: transform .2s ease-out;
            cursor: pointer;
        }
        .slide-box{
            height: 100vh;
            background-color: $dark-color;
            box-shadow: -2px 0px 25px rgba(23, 28, 47, 0.3);
            border-left: 7px solid rgba($primary-color, 0.5);
            width: 450px;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            padding: 100px 40px 40px 40px;
            text-align: center;
            h3{
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 20px;
                font-size: 16px;
                margin-top: 35px;
            }            
            .vl-white{
                float: right;
                margin-right: 50%;
                border-left: 1px solid $white;
                min-height: 20px;
            }
            .slide-box-item{
                display: inline-block;
                padding: 5px 0 5px 0;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
                width: 90%;
                h4{
                    font-size: 10px;
                    font-weight: 600;
                    text-align: left;
                    line-height: 110%;
                }
                .item-title{
                    font-size: 10px;
                    padding: 0px;
                    color: $secondary-color;
                }
                .item-note{
                    opacity: 0.7;
                    margin-top: 5px;
                }
            }
        }
        .lbl-toggle {
            cursor: pointer;
            transition: all 0,25s ease-out;
        }
        .lbl-toggle:hover{
            color: $white;
        }
        .toggle:checked + .lbl-toggle .glyphicon{
            transform: rotate(180deg) translateX(-2px);
        }
    }
    .slide-content:hover{
        right: 0;
        transition: 1s;
    }
    .slide-content:hover .glyphicon{
        transition: transform .2s ease-out;
    }
    .slide-content:hover .glyphicon{
        transform: rotate(180deg) translateX(-2px);
        animation-delay: 0s;
        transition: transform 1s ease-in-out;
    }
    .scroll-button{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        a{
            color: $white;
            text-shadow: 0px 0px 20px rgba(23, 28, 47, 0.3);
        }
    }
}
.slide-box-m{
    display: none;
}

// CONTENT
section{
    min-height: 100vh !important;
    padding-bottom: 10vh;
    h2{
        padding-top: 10vh;
    }
}

#overview{
    overflow: hidden;
    height: auto;
    box-shadow: 0px -20px 20px -20px rgba(23, 28, 47, 0.5);
    h2{
        text-align: center;
    }
    .components-grid{
        padding: 0 4vw 0 4vw;
        padding-top: 10vh;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
        height: auto;
        overflow: hidden;
        a{
            display: block;
            cursor: pointer;
            z-index: 2;
            background-color: $white;
            position: relative;
            border-radius: 10px;
            .border-padding{
                background-color: $primary-color;
                height: 100%;
                border: 1px solid $grey;
                border-radius: 10px;
            }
            img{
                width: 100%;
                border-radius: 8px 8px 0px 0px;
                border-bottom: 5px solid $secondary-color;
            }
            h4{
                padding: 5px 15px 5px 15px;
                text-align: center;
                color: $white;
            }
        }
        a:hover .overlay{
            opacity: 0.9;
            border-radius: 10px;
            transform: scale(1.05);
            transition: 0.3s ease;
        }
    }
}
#work{
    h1{
        text-align: center;
        font-size: 3vw;
        padding-top: 30vh;
    }
}

#services{
    .components-grid{
        text-align: center;
        align-items: center;
        height: auto;
        overflow: hidden;
        padding: 0 4vw 0 4vw;
        padding-top: 5vh;
        .component{
            margin-top: 10vh;
        }
        h4{
            font-size: 20px;
            margin-top: 40px;
        }
        p{
            margin-top: 40px;
            padding: 0 40px 0 40px;
        }
    }
}

.text-column{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    h2{
        font-weight: 600;
        display: inline-block;
        padding: 0 0 20px 0;
        border-bottom: 5px solid $secondary-color;
        margin-bottom: 32px;
    }
    h4{
        font-size: 14px;
        font-weight: 600;
    }
    p{
        display: inline-block;
        text-align: justify;
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 180%;
    }
}
.text-column-left{
    padding: 6% 5% 7% 10%;
}
.text-column-right{
    padding: 6% 11% 7% 5%;
    background-color: $primary-color;
    color: $white;
    border-bottom-left-radius: 50px;
    h4{
        opacity: 0.5;
    }
}

// PROJECTS
.preview-container{
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7vh;
    img{
        width: 100%;
        margin-bottom: 5vh;
        border-radius: 25px;
    }
    p{
        color: $primary-color;
        margin-bottom: 5vh;
        padding-top: 5vh;
        border-top: 1px solid $secondary-color;
    }
    .button-border{
        margin: 0 auto;
        padding: 10px 30px;
    }
}
.thin-border{
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-size: 14px;
}
// FOOTER
#footer{
    background-color: $primary-color;
    padding-top: 18vh;
    color: $white;
    text-align: center;
    h1{
        font-weight: 800;
    }
    h3{
        font-weight: 800;
        margin-top: 7vh;
    }
    p{
        font-size: 18px;
        margin-top: 5vh;
        line-height: 280%;
    }
    a{  
        color: $white;
        text-decoration: none;
    }
    a:hover{
        color: $secondary-color;
    }
    .social-icons{
        display: block;
        margin-top: 4vh;
    }
}

// MEDIA QUERIES

@media only screen and (max-width: 1000px){
    .header-text{
        padding: 0px;
        h1{
            text-align: center;
            margin-top: 15vmax;
        }
        p{
            text-align: center;
            margin-top: 5vmax;
            padding: 0 40px 0 40px;
        }
        .header-buttons{
            margin: 0 auto;
            text-align: center;
            margin-top: 6vmax !important;
            a{
                display: inline-block;
                margin: 0px auto;
                margin-right: 10px;
                margin-left: 10px;
                font-size: 2vmax;
                width: 40%;
            }
        }
        .scroll-button{
            text-align: center;
            width: 100%;
            .text-button{
                display: inline-block;
                text-align: center;
                font-weight: 800;
                margin: 0 auto;
            }
        }
    }
    .header-image{
        position: absolute;
        opacity: 0.15;
        z-index: -6;
    }
}

@media only screen and (max-width: 768px){
    .br-br{
        border-radius: 0px;
    }
}

@media only screen and (max-width: 767px){
    
    // Navbar
    .navbar{
        display: none;
    }
    .navbar-m{
        .nav-m-logo{
            height: 35px;
        }
        width: 100%;
        display: inline-block;
        position: fixed;
        padding-right: 20px;
        background-color: $primary-color;
        border-radius: 0px;
        box-shadow: 0px 2px 5px rgba(23, 28, 47, 0.3) !important;
        z-index: +99;
        padding-top: 15px;
        padding-bottom: 15px;
      
        nav{
            padding-left: 0px !important;
            width: 100%;
        }
    
        /** Collapse **/
        input[type='checkbox'] {
            display: none;
        }
        .lbl-toggle {
            display: block;
            font-weight: 500;
            cursor: pointer;
            border-radius: 7px;
            transition: all 0,25s ease-out;
            padding-left: 20px;
            margin-top: 0px;
            color: $white;
        }
        .lbl-toggle:hover{
            color: $white;
        }
        .lbl-toggle::after{
            content: ' ';
            display: inline-block;
          
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $white;
            
            vertical-align: middle;
            transition: transform .2s ease-out;
            margin-left: 15px;
        }
        .collapsible-content{
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
        }
        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 600px;
        }
        .toggle:checked + .lbl-toggle::after {
            transform: rotate(90deg) translateX(-2px);
        }
        .toggle:checked + .lbl-toggle {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
     
        /** navbar-Content **/
        ul{
            color: $white;
            padding-right: 20px;
            margin-bottom: 0px;
            list-style: none;
            padding-left: 20px;
           
            li{
                line-height: 300%;
                width: 100%;
                border-bottom: 1px solid $white;
                float: left;
            }
            li:last-of-type{
                border-bottom: 0px;
            }
            li:hover{
                background-color: rgba($white, .3);
            }
        }
        
        a{
            text-decoration: none;
            color: $white;
            padding-left: 20px;
            padding-right: 20px;
        }
     
        a:hover{
            text-decoration: underline;
            font-weight: 700;
        }
    }
    
    // HEADER
    .header-wrap{
        display: block;
        width: 100%;
        height: 100vh;
        padding-top: 0px;
    }
    .header-content{
        height: inherit;
    }
    #header-about{
        position: relative;
        background-position: center 0vh;
    }
    #header-about{
        .slide-content{
            .slide-box{
                padding: 80px 30px 30px 30px;
            }   
        }
    }
    .text-column{
        p{
            text-align: left;
        }
    }
    .slide-content{
        display: none;
    }
    .slide-box-m{
        display: block;
        background-color: $dark-color;
        padding: 0px 40px 60px 40px;
        text-align: center;
        h3{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 40px;
            font-size: 20px;
            margin-top: 50px;
        }
        .slide-box-item{
            display: inline-block;
            padding: 5px 0 5px 0;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            min-width: 90%;
            h4{
                font-size: 10px;
                font-weight: 600;
                text-align: left;
                line-height: 110%;
            }
            .item-title{
                font-size: 10px;
                padding: 0px;
                color: $secondary-color;
            }
            .item-note{
                opacity: 0.7;
                margin-top: 5px;
            }
        }
    }
    .text-column{
        padding: 8% 8% 8% 8%;
        border-radius: 0px;
    }
    .nav-adjust{
        padding-top: 100px;
    }
}

@media only screen and (max-width: 480px){
    .header-text{
        .header-buttons{
            margin: 0 auto;
            text-align: center;
            margin-top: 10vmax;
            a{
                display: block;
                width: 95%;
                margin: 0px auto;
                font-size: 3vmax;
                margin-top: 1vmax;
            }
        }
    }
    .header-image{
        display: none;
    }
    .section-title{
        font-size: 4vmax;
    }
    #intro-container{
        margin-right: -15px !important;
    }
    
    .text-column{
        text-align: center;
        padding: 16% 16% 16% 16%;
        border-bottom-left-radius: 0px;
        p{
            text-align: center;
        }
    }
}